<!-- this page extends from src/templates/base/base_User.html -->
{% extends 'base/base_user.html' %}

<!-- title -->
{% block title %} Dashboard {% endblock title %}

<!-- body - Start -->
{% block body %}
<br />
<div class="card">
  <div class="card-header">Events</div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          <div class="hstack gap-3">
            <div class="p-2">Accordion Item #1</div>
            <div class="p-2 ms-auto">
              <span class="badge bg-dark rounded-pill">registered 24</span>
            </div>
          </div>
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Placeholder content for this accordion, which is intended to
          demonstrate the <code>.accordion-flush</code> class. This is the first
          item's accordion body.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          <div class="hstack gap-3">
            <div class="p-2">Accordion Item #2</div>
            <div class="p-2 ms-auto">
              <span class="badge bg-dark rounded-pill">10</span>
            </div>
          </div>
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Placeholder content for this accordion, which is intended to
          demonstrate the <code>.accordion-flush</code> class. This is the
          second item's accordion body. Let's imagine this being filled with
          some actual content.
        </div>
      </div>
    </div>

    <!-- test -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          <div class="hstack gap-3">
            <div class="p-2">Accordion Item #3</div>
            <div class="p-2 ms-auto">
              <span class="badge bg-dark rounded-pill">14</span>
            </div>
          </div>
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          Placeholder content for this accordion, which is intended to
          demonstrate the <code>.accordion-flush</code> class. This is the third
          item's accordion body. Nothing more exciting happening here in terms
          of content, but just filling up the space to make it look, at least at
          first glance, a bit more representative of how this would look in a
          real-world application.
        </div>
      </div>
    </div>
  </div>
</div>

<!-- est -->

{% endblock body %}
<!-- body - End -->
