<!-- this page extends from src/templates/base/base_User.html -->
{% extends 'base/base_user.html' %}

<!-- title -->
{% block title %} Dashboard {% endblock title %}

<!-- body - Start -->
{% block body %}
<br />

<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for data_key, events in event_list %}
  <!--  -->
  {% if data_key == 'data' %}
  <!--  -->
  {% for event in events %}

  <div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ event['event_title'] }}</h5>
        <p class="card-text">{{ event['event_desc'] }}</p>
        <div class="d-grid gap-2">
          <button class="btn btn-outline-dark" type="button">Edit</button>
          <button class="btn btn-outline-danger" type="button">Delete</button>
        </div>
      </div>
    </div>
  </div>
  {% endfor %} {% endif %} {% endfor %}
</div>
<!-- est -->

{% endblock body %}
<!-- body - End -->
