<!-- this template extends from src/templates/base/base.html -->

{% extends 'base/base.html' %}

<!-- title -->
{% block title %} Sign Up {% endblock title %}

<!-- body - Start -->
{% block body %}

<form action="/auth/signup" method="post">
  <div class="mb-3">
    <label for="InputEmail" class="form-label">Email address</label>
    <input
      type="email"
      name="email"
      class="form-control"
      id="InputEmail"
      aria-describedby="emailHelp"
      placeholder="you@example.com"
    />
    <div id="emailHelp" class="form-text">
      We'll never share your email with anyone else.
    </div>
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Password</label>
    <input
      type="password"
      name="password"
      class="form-control"
      id="InputPassword"
    />
  </div>
  <div class="mb-3">
    <label for="InputPasswordConfirm" class="form-label">
      Confirm password
    </label>
    <input
      type="password"
      name="confirm"
      class="form-control"
      id="InputPasswordConfirm"
    />
  </div>
  <button type="submit" class="btn btn-outline-dark">Sign up</button>
</form>
<a href="/auth/login">already have an account?</a>
{% endblock body %}
<!-- body - End -->
