<!-- this template extends from src/templates/base/base.html -->

{% extends 'base/base.html' %}

<!-- title -->
{% block title %} Welcome {% endblock title %}

<!-- body - Start -->
{% block body %}

<div class="card text-center mb-3" style="width: 18rem">
  <div class="card-body">
    <h5 class="card-title">Welcome</h5>
    <p class="card-text">TinkerHub AISAT Event Management system</p>
    <a href="/event/eventplace" class="btn btn-outline-dark">Get started</a>
  </div>
</div>

{% endblock body %}
<!-- body - End -->
